# deployed package files #

*.DEPLOYED

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# *.exe

# texmaker
*.log
*.aux
*.synctex.gz

# matlab
.m